@charset "UTF-8";
/* GLOBAL STYLES */

body {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    background-color: #3f8b58;
    color: #2F3E46;
}

/* HEADER */
header {
    background: #57b677;
    padding: 20px;
    border-bottom: 1px solid #DDE6D5;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
    font-size: 2rem;
}

.busca-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.busca-container input {
    width: 260px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #C8D5C4;
    border-radius: 6px;
    background: #FFFFFF;
}

.busca-container button {
    background-color: #6B8F71;
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

.busca-container button:hover {
    background-color: #4F6F52;
}

/* CARDS */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 20px;
    gap: 20px;
}

.card {
    background: #ddf7ec;
    border: 1px solid #DDE6D5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card h2 {
    margin-top: 0;
    color: #4F6F52;
}

.card p {
    line-height: 1.4;
}

.card a {
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    color: #6B8F71;
    text-decoration: none;
}

.card a:hover {
    color: #e1e6e2;
}

/* FOOTER */
.footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    border-top: 1px solid #DDE6D5;
    background: #57b677;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    color: rgba(255, 255, 255, 0.849);
}
